<div class="home">
    <app-header></app-header>
    <div class="home-content">
        <h1 class="home_space-around center">Каталог</h1>
        <app-filters></app-filters>
        <div class="home__divider"></div>
        <div *ngIf="isFetching" class="home-content__is-fetching">Загрузка...</div>
        <div *ngIf="!isFetching" class="home-content__products">
            <Product
                *ngFor="
                    let product of products
                        | searchProducts : search
                        | filterProducts : selectedOption
                "
                [product]="product"
                [user]="user"
            ></Product>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
