<div class="page">
    <header>
        <div class="container">
            <app-header></app-header>
        </div>
    </header>

    <h1 class="home__title home_center">Каталог</h1>

    <main class="main">
        <div class="container">
            <app-filters></app-filters>

            <div *ngIf="isFetching" class="home-content__is-fetching">Загрузка...</div>

            <div *ngIf="!isFetching" class="home-content__products">
                <div class="home-content__filters"></div>
                <Product
                    *ngFor="let product of products"
                    [product]="product"
                    [user]="user"
                ></Product>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">by Dmitrii Oreshkin</div>
        </div>
    </footer>
</div>
<router-outlet></router-outlet>
