$border-color: rgb(218, 218, 218);

.home {
    font-family: 'Roboto', sans-serif;
}

.home-content {
    padding-left: 50px;
    padding-right: 50px;
}

.home_space-around {
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-content__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 50px;
}

.home__divider {
    margin-top: 50px;
    width: 100%;
}

.home-content__is-fetching {
    display: flex;
    justify-content: center;
}
