$border-color: rgb(218, 218, 218);

.header {
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 25em 1fr 1fr 1fr 25em;
    grid-template-rows: 60px 60px;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
        'logo space space space profile'
        'breadcrumps wish-list wish-list cart cart';
}

.header__space {
    grid-area: space;
    border-bottom: 1px solid $border-color;
    background-image: linear-gradient(
        to right,
        #f76c8d,
        #f78ab4,
        #f3a8d4,
        #efc5ea,
        #f0dff8,
        #e9e9ff,
        #e8f2ff,
        #eef9ff,
        #d1f9ff,
        #affaff,
        #88fbff,
        #5ffbf1
    );
}

.header__logo {
    grid-area: logo;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
}

.header__profile {
    grid-area: profile;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.header__breadcrumps {
    grid-area: breadcrumps;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
}

.header__wish-list {
    grid-area: wish-list;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
}

.header__cart {
    grid-area: cart;
    color: black;
    border-bottom: 1px solid $border-color;
}

.header__cart:link {
    text-decoration: none;
}

.header__cart:hover,
.header__profile:hover {
    background-color: #e9e9ff;
}

.header_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
