$border-color: rgb(218, 218, 218);

.header__header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header__logo {
    text-transform: uppercase;
    display: inline-block;
    color: #4a2e4e;
}

.header__buttons {
    // padding: 10px;
    display: flex;
    gap: 20px;
}

.header__profile {
    grid-area: profile;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.header__breadcrumps {
    grid-area: breadcrumps;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
}

.header__wish-list {
    grid-area: wish-list;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
}

.header__cart {
    grid-area: cart;
    color: black;
    border-bottom: 1px solid $border-color;
}

.header__cart:link {
    text-decoration: none;
}

.header__cart:hover,
.header__profile:hover {
    background-color: #e9e9ff;
}

.header_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 991px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
