.cart-popup {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
}

.cart-popup_visible {
    visibility: visible;
    opacity: 1;
}

.cart-popup__content {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    // width: 50vw;
    height: 10vh;
    align-self: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    gap: 20px;
}

.cart-popup__buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cart-popup__title {
    align-self: center;
}

.cart-popup__button {
    padding: 10px;
    margin: 5px;
    background-color: #f3a8d4;
    color: #ffffff;
    cursor: pointer;
}

.cart-popup__button:link {
    text-decoration: none;
}

.cart-popup__button:hover {
    background-color: #f76c8d;
}
