$border-color: rgb(218, 218, 218);

.product {
    display: flex;
    flex-direction: column;

    // min-height: 500px;
}

.product__img__img-container {
    // padding: 10px;
    // border-bottom: 1px solid $border-color;
    // min-height: 500px;
}

.product__img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

img {
    height: 50%;
    width: 50%;
    object-fit: contain;
}

.product__description {
    display: flex;
    flex-wrap: wrap;
}

.product__description_name {
    // flex-grow: 1;
    width: 100%;
    font-size: 24px;
    color: #6979ab;
}

.product__description_price {
    width: 100%;
    // flex-grow: 1;
    font-size: 20px;
    color: #795376;
}

.product__buttons {
    display: flex;
    gap: 20px;
}

.product__button {
    padding: 10px;
    // margin: 5px;
    font-size: 15px;
    background-color: #f0dff8;
    color: #ffffff;
    cursor: pointer;
}

.product__button:link {
    text-decoration: none;
}

.product__button:hover {
    background-color: #f76c8d;
}

.product__description_space {
    margin-top: 5px;
    margin-bottom: 5px;
}

.product__description_gray {
    color: $border-color;
}
