$border-color: rgb(218, 218, 218);

.content {
  display: grid;
  height: 100vh;
  grid-template-columns: 25em 1fr 1fr 1fr 25em;
  grid-template-rows: 60px 60px;
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
    "logo space space space profile"
    "path wish-list wish-list cart cart"
    "sidebar products products products products";
}

.space {
  border-bottom: 1px solid $border-color;
}

.logo {
  grid-area: logo;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

.profile {
  grid-area: profile;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
}

.path {
  grid-area: path;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

.wish-list {
  grid-area: wish-list;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

.cart {
  grid-area: cart;
  border-bottom: 1px solid $border-color;
}

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid $border-color;
}

.products {
  grid-area: products;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px;
  // grid-auto-rows: minmax(0px, auto);
  grid-gap: 50px;
  padding: 50px;
  overflow-y: scroll;
}

.actions {
  grid-column: 1/4;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 10px;
}

input {
  // height: 50px;
  border: 1px solid black;
  font-size: 20px;
  padding: 10px;
}

.loading {
  font-size: large;
}
