.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input {
  // height: 50px;
  border: 1px solid black;
  font-size: 20px;
  padding: 10px;
}

.submit-btn {
  border: 1px solid black;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.danger {
  color: red;
}
