<div class="login-page">
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" class="form">
        <div class="form__message form_danger">{{ errorMessage }}</div>
        <div class="form__form-group">
            <label>Имя пользователя</label>
            <input class="form__input" formControlName="username" type="text" name="username" />
        </div>
        <div class="form__form-group">
            <label>Пароль</label>
            <input class="form__input" formControlName="password" type="text" name="password" />
        </div>
        <button class="form__submit-btn" type="submit">Войти</button>
    </form>
</div>
